h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  .logo {
    width: 100px;
  }
}

.wrapper {
  min-height: 100vh;
}

.site-layout-background {
  background: #fff;
}

.content {
  padding: 24px;
  margin: 0;
}

.flex {
  display: flex;
}

.betwwen {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.mt-0{
  margin-top: 0;
}

.mb-0{
  margin-top: 0;
}

.m-2 {
  margin: 0.5rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.full-width {
  width: 100%;
}

.list {
  list-style: none;
  padding: 5px;
}


